Topic Modeling
---

In [1]:
import pandas as pd
import numpy as np

In [2]:
news_df = pd.read_csv("../datasets/abcnews-date-text.csv")

In [3]:
news_df.head()

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit
3      20030219           air nz staff in aust strike for pay rise
4      20030219      air nz strike to affect australian travellers

In [4]:
text_data = news_df[["headline_text"]]

In [8]:
display(text_data.shape)
display(text_data[:5])

(1082168, 1)

                                       headline_text
0  aba decides against community broadcasting lic...
1     act fire witnesses must be aware of defamation
2     a g calls for infrastructure protection summit
3           air nz staff in aust strike for pay rise
4      air nz strike to affect australian travellers

#### Data Preprocessing

We will perform the following steps:
1. __Tokenization__: Split the text into sentences and the sentences into words. Lowercase the words and remove punctuation.
1. Words that have fewer than 3 characters are removed.
1. All **stopwords** are removed.
1. Words are **lemmatized** — words in third person are changed to first person and verbs in past and future tenses are changed into present.
1. Words are **stemmed** — words are reduced to their root form.